body
{
    font-family: Arial;
    font-size:10pt;
    background-color: #ffffff;
}
        
#mainDiv
{
    width: 100%;
    background-color: #ffffff;
}

#InputDiv
{
    width: 100%;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

#Header
{
    font-family: helvetica, Arial Black, Arial;
    font-size: 20pt;
}

#Footer
{
    position:absolute;
    bottom:0;
}

#WordButton
{
    width: *;
    font-size: 14px;
    border-radius: 15px 30px;
    background-color: #DCDCDC; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#WordButton:focus
{
    outline: none;
}

#WordBox
{
    width: 100%;
    height: 45px;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}

#WordBox:focus{
    outline: none;
}

#BannerImg
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img.ImageElement
{
    width: 75px;
    height: 75px;
    margin: 5px;
}

#ResultImgDiv
{
    padding: 15px 0px 0px 0px;
}

a:link
{
    text-decoration: none;
    color: #BBBBBB;
}

a:visited
{
    text-decoration: none;
    color: #BBBBBB;
}
        
a:hover
{
    color: black;
    text-decoration:none;
}

h1.title
{
    font-family:Arial Black, Arial;
    font-size:16pt;
}

h1.groupHeader
{
    font-family:Arial Black, Arial;
    text-transform: uppercase;
    font-size:14pt;
}
img
{
    border-style: none;
}

table.applist
{
    border:none;
}

table.applist td
{
    padding: 5px;
}

td.tdAppIcon
{
    width: 100px;
}

td.tdAppName
{
    width: 120px;
    padding: 5px;
}

#PromptDiv
{
    padding: 15px;
    text-align: left;
    padding: 20px;
    color: gray;
    font-size: 15px;
}


#InputMatrixDiv
{
    padding: 15px;
}


#ResultDiv
{
    padding: 15px;
}

#ResultDiv h3{
    text-align: center;
}
#AllResultsDiv
{
    padding: 15px;
}

#AllResultsDiv h3{
    text-align: center;
}

.MatrixTable{
    /*width:50%; */
    border-collapse:collapse; 
    margin: 0 auto;
    color:black;
    font-size: 30px;
}

.MatrixTable td{ 
    padding:7px; border:black 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.MatrixTable tr{
    background: #eeeeee;
}
/*  Define the background color for all the ODD background rows  */
.MatrixTable tr:nth-child(odd){ 
    background: #dddddd;
}
/*  Define the background color for all the EVEN background rows  */
.MatrixTable tr:nth-child(even){
    background: #eeeeee;
}

.MatrixTable td {
    text-align: center;
    vertical-align: middle;
}

.MatrixResultTable{
    /*width:50%; */
    border-collapse:collapse; 
    margin: 0 auto;
    font-size: 30px;
}
.MatrixResultTable td{ 
    padding:7px;
    border:black 1px solid;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.MatrixResultTable tr{
    background: #ffffff;
}
